Col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

.pokemon-list {
    margin-top: 50px;
    /*background-color: red;        /*COLOR TEST*/ 
    max-height: 37vh;
    max-width: 60vw;
    overflow:scroll;
    overflow-x:hidden;
    scrollbar-color: #1d1d3d transparent;
}

