.search-container{
    padding: '10px';    
    height:7vh;
    margin-top: 50px;
}

.search-input{
    /*TAMAÑO*/
    width:80%;
    height: 100%;
    font-size: 30px;

    /*COLOR*/
    background-color: #1a1a32;
    color:white;
    outline:none;

    /*BORDE*/
    border-radius: 20px;
    border-width: 4px;
    border-style:solid;
    border-color: #2d2d4d;

    /*PADDINGS*/
    padding-left: 5%;
}

.search-input::placeholder{
    color:#2d2d4d
}




