/* Configuramos el fondo oscuro para toda la aplicación */
:root {
  background-image: url(./assets/imgs/appBG.jpg);
}

body {
  margin: 0;
  padding: 0;
    background-image: url(./assets/imgs/appBG.jpg)!important; /* El color oscuro de fondo */
  color: white;
  min-height: 100vh;
}
